# Backend
backend/server.exe
backend/qfis.exe
backend/qfis-linux
backend/qfis.db*
backend/vendor/
backend/frontend/dist/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS
.DS_Store
Thumbs.db

# Temp files
%DOCKER_CONFIG%/
docker-config/

# IDE
.vscode/
.idea/
*.swp
*.swo
